@font-face
{
    font-family: HNL;
    src: url("../font/HelveticaNeueLight.ttf");
}

@font-face
{
    font-family: FontAwesome;
    src: url("../font/fontawesome-webfont.ttf");
}

* {
    font-family: HelveticaNeue;
    color:white;
    font-size:12px;
    line-height:16px;
}

html {
    overflow:hidden;
    cursor:default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    /*background-color:#16a085;*/
    position:relative;
    background:white;
    min-width:400px;
    overflow:hidden;
    margin:0;
}

#title {
    position:absolute;
    top:100px;
    left:40px;
    font-size:50px;
    color:#222222;
    opacity:0;
}

#author {
    position:absolute;
    top:140px;
    left:40px;
    width:300px;
    font-size:24px;
    line-height:26px;
    color:#d0d0d0;
    opacity:0;
}

.arrow {
    position:absolute;
    left:-70px;
    font-family:FontAwesome;
    font-size:70px;
    color:#cccccc;
    opacity:0;

    cursor:pointer;
    transition: all 0.4s ease;
}

.arrow:hover {
    color:#333333;
}

#up {
    top:250px;
}

#down {
    top:350px;
}


#iphone-wrapper {
    height:auto;
    width:auto;
    display:inline-block;
    position: relative;
    top:-700px;
}

#iphone {
    height:600px;
    margin-top:15px;
}

#iphone-content {
    position:absolute;
    background-color:white;
    top:103px;
    left:23px;
    height:427px;
    width:241px;
}

#iphone-navbar {
    width:100%;
    position:relative;
    z-index:100;
    background-color: rgba(255,255,255, 0.9);
}

#iphone-screen-fade {
    position:relative;
    width: 100%;
    margin-top: -4px;
    height: 380px;
    z-index:50;

    background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.2) 35%, rgba(255,255,255,0) 75%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(35%,rgba(255,255,255,0.2)), color-stop(75%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.2) 35%,rgba(255,255,255,0) 75%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.2) 35%,rgba(255,255,255,0) 75%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.2) 35%,rgba(255,255,255,0) 75%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.2) 35%,rgba(255,255,255,0) 75%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#chat-box {
    position:absolute;
    top:0px;
    padding-top:52px;
    height:370px;
    overflow:hidden;
    padding-bottom:5px;
}

.vic-box,
.liz-box {
    display:block;
    width:100%;
    margin-top:3px;
    margin-bottom:3px;
}

.vic-box > div { /*max-width 60% and margin 40% to assure each bubble is listed vertically*/
    display:inline-block;
    float:right;
    position:relative;
    z-index:0;
    max-width:75%;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    background-color: rgb(0, 146, 243);
    border-radius:12px;
    margin-top:1px;
    margin-bottom:1px;
    margin-left:25%;
    margin-right:12px;
}

.vic-box > div:first-child {
    margin-top:3px;
}

.vic-box > div:last-child {
    margin-bottom:6px;
}

.liz-box >div { /*max-width 60% and margin 40% to assure each bubble is listed vertically*/
    display:inline-block;
    position:relative;
    z-index:70;
    max-width:75%;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    background-color: rgb(235, 235, 235);
    color:black;
    border-radius:12px;
    margin-top:1px;
    margin-bottom:1px;
    margin-left:12px;
    margin-right:25%;
}